* {

	margin: 0;
	padding: 0;
}
.container {
	max-width: 1140px;
	margin-left: auto;
	margin-right: auto;
}
.row {
	display: flex;
	max-width: 100%;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}
.row1 {
	max-width: 100%;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
	margin: 0 auto;
}
header {
	background-color: #FA8258;
	padding: 10px 0 10px 0;
}
a:hover {
	color: black;

}


p {
	margin: 10px 0 10px 0;
}
.title h3 {

	font-size: 32px;
	text-decoration: underline;
	color: rgba(245,40,50,1);
}
.col-2 {
	flex: 0 0 16.666667%;
    max-width: 16.666667%;
}
.col-3 {
	flex: 0 0 25%;
    max-width: 25%;
}
.col-8 {
	flex: 0 0 66.666667%;
    max-width: 66.666667%;
}
.col-2th {
	flex: 0 0 20%;
    max-width: 20%;
}
.col-12 {
	flex: 0 0 100%;
    max-width: 100%;
}
.menu ul li {

	float: left;
	margin-left: 20px;
	list-style: none;
	padding-bottom: 20px;

}
.menu {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
ul.menu_child {
	position: absolute;
	width: 225px;
	background-color: #FA8258;
	z-index: 9999;

}
ul.menu_child li {
	padding: 15px 0 0 0 ;
	float: none;
	display: none;
}
.menu ul li:hover ul.menu_child li {
	display: block;
}

		.mySlides {
			display: none;
		}
		.slideshow-container {
		  max-width: 100%;
		  position: relative;
		  margin: unset;
		}
		img {
			vertical-align: middle;
		}
		.prev , .next{
			cursor: pointer;
			position: absolute;
			top: 50%;
			width: auto;
			padding: 16px;
			margin-top: -22px;
			color: white;
			font-weight: bolder;
			font-size: 18px;
			transition: 0.6s ease;
			border-radius: 0 3px 3px 0;
			user-select: none;
		}
		.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #911f1f;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}



ul.menu_footer li {
	list-style: none;
}
.name{
    margin-top: 15px;
    margin-bottom: 5px;
	font-size: 22px;
}
.price-cu{
    color: #262324;
    font-size: 16px;
    font-weight: bold;
    text-decoration: line-through;
	text-align: center;
}
.price-moi{
    color: red;
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
	text-align: center;
}
footer {
	
	padding-top: 30px;
	background-color: #303030;
	border-top: 1px solid #ddd;
	color: #e2e2e2;
}
footer {
	display: block;
	background-color:#312424;
	padding: 20px 0 10px 0;
}
.container footer{
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.slider-margin {
	margin-top: 20px;
}
.image img {
	width: 100%;
}
.card {
	margin-bottom: 20px;
}

ul.menu_footer li {
	list-style: none;
}
.footer {
	padding-bottom: 20px;
	font-family: 'Times New Roman', Times, serif;
}
.footer h3 {
	color: rgb(198, 216, 38);
}
.copy_right {
	padding: 10px 0 0px 0;
	text-align: center;
	border-top: 1px solid rgb(208, 204, 228);
}
.sticky-top {
	position: sticky;
	top: 0;
	z-index: 1;
}

.login-regester
{
	margin-left: 80%;
	font-size: 1.3rem;

}
.login-regester-item
{
	background-color: #ff7675;
	padding: 6px;
	font-size: 0.5rem;
	border: none;
	border-radius: 4px;
	border: 1px solid #2d3436;
}
#product-search{
	margin-left: 370px;
	font-size: 25px;
	padding-bottom: 20px;
}
.menu-item>a{
	text-decoration: none;
	font-size: 24px;
	color: #f2f2f2;
}
.menu-item > a:hover{
	color: #262324;
}
.product-item-name{
	text-decoration: none;
	color: #262324;

}
.product-item-name:hover{
	color: #911f1f;
}
.footer-item-name{
	text-decoration: none;
	color: #f2f2f2;
}
.footer-item-name:hover{
	color: #ff7675;
}
body{
	background-image: url(../IMG/background/v546batch3-mynt-34-badgewatercolor_1.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}


	


/*chi tiet san pham*/
.container-fulid{
	height: 900px;
	
	
	
}
.product-sp1-name{
	font-size: 16px;
	
}
.product-sp1-img{
	padding-left: 400px;
}
.product-sp1-chitiet{
	margin-left:260px;
	font-size: 20px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	
	
}
.product-sp1-img-chitiet{
	display: flex;
	
}
.product-item-name1{
	height: 500px;
	margin-top: 15px;
}


	




